.containerNavbar{
    z-index: 2;
    height: 8vh;
    width: 100%;
    background-color:#222831;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size:x-large;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #FFD369;
    color: #EEEEEE;
    position: fixed;
}

.logo{
    margin-left: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo span{
    margin-left: 20px;
    padding: 1vh;
    border-radius: 1vh;
    transition: all 300ms ease-in-out;
}
.logo span:hover{
    cursor: pointer;
    color: #FFD369;
    background-color:#393E46;
    box-shadow: -3px 3px 5px #FFD369;
    transform: scale(1.05);
    transform: translateX(1vw);
}

.navbar{
    margin-right: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbar a{
    color: #EEEEEE;
    text-decoration: none;
    margin-right: 20px;
    padding: 1vh;
    border-radius: 1vh;
    transition: all 300ms ease-in-out;
}

.navbar a:hover{
    color: #FFD369;
    cursor: pointer;
    background-color:#393E46;
    box-shadow: 3px 3px 5px #FFD369;
    transform: scale(1.05);
    transform: translateX(-1vw);
}