*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: monospace;
  scroll-behavior: smooth;
}


@media (max-width: 600px) {
  /* CSS rules */
  .title{
      overflow-x: hidden;
  } 

  }