.globalContainer{
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFD369;
}

.globalContainer span{
    margin: 0 2vw;
}

.title{
    font-size: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mappedTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


@media (max-width: 600px) {
    /* CSS rules */
    .globalContainer{
        width: 550px;
        height: 150px;
        overflow: hidden;
    }
    
    .title{
        font-size: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    } 

    }