.containerMainContent{
    background-color: #393E46;
    color: #EEEEEE;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 8vh;
    letter-spacing: 1.2vw;
    height: 20vh;
}
.picAndDescripParagraph{
    font-size: 2vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.picAndDescripParagraph p{
    margin-top: 2vh;
}

.profilePicture{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.profilePicture img{
    height: 300px;
    border-radius: 2vh;
    filter: grayscale(0.5);
}

.picText{
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-style: italic;
}

.homeDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.englishComeOut{
    font-style: italic;
    font-size: 1.4vh;
    color: #FFD369;
}

.button{
    width: 10vw;
    height: 5vh;
    background-color: #222831;
    color: #EEEEEE;
    border: solid;
    border-radius: 1vh;
    border-color: #EEEEEE;
    transition: all 300ms ease-in-out;
}
.button:hover{
    cursor: pointer;
    transform: scale(1.2);
    color: #FFD369;
    box-shadow: 0px 0px 5px #FFD369;
    background-color:#393E46;
}

@media (max-width: 600px) {
    /* CSS rules */
    
        .title{
            font-size: 4vh;
            letter-spacing: 1.1vw;
            height: 20vh;
        }
        
        .picAndDescripParagraph{
            font-size: 1.5vh;
            margin-bottom: 5vh;
            display: flex;
            flex-direction: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        
        .profilePicture img{
            height: 200px;
            border-radius: 2vh;
            filter: grayscale(0.5);
        }
        
        .homeDescription{
            padding: 0 20px;
        }

        .button{
            width: 100px;
        }

        .button:hover{
            transform: scale(1);
        }

    }